h1{
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}

h2{
    margin-left: 20%;
    font-size: 15px;
    color: #696969;
    text-align: left;
}

#logo{
    position: relative;
    top: 53px;
    text-align: center;
}

#logo img{
    width: 100px;
    height: 100px;
    text-align: center;
}

#id{
    position: relative;
    top: 60px;
    text-align: center;
    width: 100%;
}

#id input{
    width: 80%;
    height: 35px;
    border: none;
    color: #595757;
    background-color: #ffffff;
    font-size: 14px;
    padding-left: 8px;
    padding-right:8px;
    border-radius:8px;
    outline: none;
}

#pass{
    position: relative;
    top: 80px;
    text-align: center;
    width: 100%;
}

#pass input{
    width: 80%;
    height: 35px;
    border: none;
    color: #595757;
    background-color: #ffffff;
    font-size: 14px;
    padding-left: 8px;
    padding-right:8px;
    border-radius:8px;
    outline: none;
}

#login{
    position: relative;
    top:110px;
    text-align: center;
    width: 100%;
}

.error {
    color: #ff0000;
    font-size: 14px;
}

.colored_red{
    background-color: #dd6a5f;
    color: #ffffff;
    width: 32%;
    height: 35px;
    font-size: 14px;
    padding-bottom: 30px;
}


#new_account{
    position: relative;
    top:130px;
    text-align: center;
    width: 100%;
}

#new_account h3{
    font-size: 14px;
}

#new_account a{
    text-decoration: none;
    color: #ffffff;
}
