/*=================================================

ヘッダー部分

=================================================*/

.header{
    display: inline-block;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #ffffff;
}

.header h1{
    position: absolute;
    left: 35%;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    padding-left: 30px;
}

#follow_bt{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    width: 70px;
    height: 22px;
    border:none;
    background-color: #57b3ad;
    color: #ffffff;
    z-index: 5;
}

/*=================================================

自己紹介部分

=================================================*/

#fixing{
    width: 100%;
    height: 203px;
    position: absolute;
    top: 30px;
    left: 0;
}

/*ユーザーアイコン*/
.center_img{
    text-align: center;
    position: relative;
    top: 8px;
}

#fixing img {
    top:38px;
    width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*紹介文*/
#introduction{
    position: absolute;
    top: 158px;
    width: 100%;
    display: table;
}

#introduction p{
    display: table;
    padding: 0 20px;
    margin: 0 auto;
}


/*フォロー数*/
#follow{
    position: absolute;
    display: block;
    text-align: center;
    width: 115px;
    top:90px;
    color: #ffffff;
    left: 5%;
}

.follow{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top:-20px;
    border-radius: 50%;
    padding-top: 25px;
    z-index: 2;
}


.follow h5{
    font-size: 28px;
    color: #ffffff;
}
#follow a{
    display: block;
    border-bottum: none;
    color: #ffffff;
}


/*フォロワー数*/
#follower{
    position: absolute;
    display: block;
    text-align: center;
    width: 115px;
    top:90px;
    color: #ffffff;
    right: 5%;
}

.follower{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top:-20px;
    border-radius: 50%;
    padding-top: 25px;
    z-index: 2;
}


.follower h5{
    font-size: 28px;
    color: #ffffff;
}
#follower a{
    display: block;
    border-bottum: none;
    color: #ffffff;
}

@media screen and (max-device-width: 480px) {
    #fixing img {
        width: 110px;
    }
}

/*紹介文*/
#introduction{
    position: absolute;
    top: 158px;
    width: 100%;
    display: table;
}

#introduction p{
    display: table;
    color: #ffffff;
    padding: 0 20px;
    margin: 0 auto;
}


/*=================================================

ナビゲーション

=================================================*/

.nav{
    width: 100%;
    height: 27px;
    position: absolute;
    top:250px;
    z-index: 2;
    left: 0;
    background-color: #ffffff;
}

#blank1{
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #57b3ad;
}

.nav.fixed {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index:1;
}

/*=================================================

コンテンツ部分（動く部分）

=================================================*/

#contents{
    left: 0;
    width: 95%;
    padding-top: 285px;
    padding-bottom: 55px;
    margin: 0 auto;

}
