.header h1{
    padding-right: 30px;
}

#recbtn{
    margin: 0 auto;
    margin-top: 16px;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    border:5px solid #fff;
    background-color: #DD6A5F;
}

#main {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #DD6A5F;
}

.mix{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    padding-top: 35px;
    z-index: 1;
    background-color: #dd6a5f;
    text-align: center;
}

.mix img{
    width: 35px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    z-index: 2;
}

#timer {
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #FAC55E;
}

#captureTimer {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #DD6A5F;
}

#captureTimer img{
    width: 200px;
    height: 200px;
}

/*=================================================

        音声操作

=================================================*/

.operation {
    width: 100%;
    bottom: 48px;
    height: 60px;
    position: fixed;
    text-align: center;
    z-index: 1;
    background-color: #FAC55E;
}

.operation img {
    width: 60px;
    height: auto;
}


.operation li {
    list-style-type: none;
    width: 25%;
    float: left;
}

.operation a {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

.operation input {
    border: none;
    padding: 3px;
    margin-top: 17.5px;
    outline: none;
    background-color: #ffffff;
    width: 40px;
    height: 25px;
}

/*=================================================

        プレイボタン

=================================================*/
@-webkit-keyframes materialResponse {
    0% {
        width: 0;
        height: 0;
        margin: 0;
        background: rgba(255,255,255,0.1);
    }
    100% {
        width: 250%;
        height: 250%;
        margin: -125%;
        background: rgba(255,255,255,0.4);
    }
}

@keyframes materialResponse {
    0% {
        width: 0;
        height: 0;
        margin: 0;
        background: rgba(255,255,255,0.1);
    }
    100% {
        width: 250%;
        height: 250%;
        margin: -125%;
        background: rgba(255,255,255,0.4);
    }
}

.material-grid {
    position: relative;
    width: 45px;
    height: 45px;
    padding: 7.5px 15% ;
}

.material-grid section,
section.material-standalone-section {
    width: 45px;
    padding: 0;
    height: 45px;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-grid section:before,
section.material-standalone-section:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 999px;
    cursor: pointer;
}

.material-grid section:active:before,
section.material-standalone-section:active:before {
    -webkit-animation: materialResponse 0.01s ease;
    animation: materialResponse 0.01s ease;
    z-index: 3;
}

section.material-standalone-section {
    margin: 0 5px 5px 0;
}

.material-icon {
    width: 17.5px;
    height: 17.5px;
    margin: 13.25px;
    position: relative;
}

.material-icon span,
.material-icon {
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}

.material-icon span {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.material-icon:before,
.material-icon:after {
    content: "1";
    background: transparent;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: -12.5px;
    left: 0;
    width: 25px;
    height: 10px;
    -webkit-transform: translateY(0);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    z-index: 2;

    font-weight: bold;
    color: transparent;
}

.material-icon:after {
    content: "2";
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    top: auto;
bottom: -2.5px;
}

.pause, .not-play {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pause span, .not-play span {
    height: 6.25px;
}

.pause .second, .not-play .second {
    -webkit-transform: translateY(11.25px);
    transform: translateY(11.25px);
}

.not-play .first {
    -webkit-transform: translateY(3.75px) translateX(3.75px) rotate(60deg);
    transform: translateY(3.75px) translateX(3.75px) rotate(60deg);
}
.not-play .third {
    -webkit-transform: translateY(3.75px) translateX(-3.75px) rotate(-60deg);
    transform: translateY(3.75px) translateX(-3.75px) rotate(-60deg);
}

.stop {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.stop span, .play span {
    height: 8.75px;
}

.stop .second, .play .second {
    height: 11.25px;
    -webkit-transform: translateY(6.25px);
    transform: translateY(6.25px);
}

.play {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.play:before {
    -webkit-transform: translateY(6.5px) translateX(-4.25px) rotate(-26deg);
    transform: translateY(6.5px) translateX(-4.25px) rotate(-26deg);
}

.play:after {
    -webkit-transform: translateY(2.75px) translateX(-5.5px) rotate(26deg);
    transform: translateY(2.75px) translateX(-5.5px) rotate(26deg);
}


.material-amber,
.material-amber .material-icon:before,
.material-amber .material-icon:after { background: #FAC55E; }


.no-mask .material-icon:before,
.no-mask .material-icon:after { display: none; }

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@-webkit-keyframes leader {
    0% { -webkit-transform: rotate(0); transform: rotate(0); }
    12% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        border-bottom-color: transparent;
    }
    12.00001% {
        border-bottom-color: #fff;
    }
    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: #fff;
    }
    37.5% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
    37.50001%, 50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }

    /* --- */
    67.5% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    67.50001% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
    75%, 87.5% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
    87.50001%, 100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
}

@keyframes leader {
    0% { -webkit-transform: rotate(0); transform: rotate(0); }
    12% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        border-bottom-color: transparent;
    }
    12.00001% {
        border-bottom-color: #fff;
    }
    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: #fff;
    }
    37.5% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
    37.50001%, 50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }

    /* --- */
    67.5% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    67.50001% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
    75%, 87.5% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
    87.50001%, 100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
}

@-webkit-keyframes trailer {
    0% { -webkit-transform: rotate(0); transform: rotate(0); }
    25% { -webkit-transform: rotate(0); transform: rotate(0); }
    37.5% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    75% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    87.5% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
}

@keyframes trailer {
    0% { -webkit-transform: rotate(0); transform: rotate(0); }
    25% { -webkit-transform: rotate(0); transform: rotate(0); }
    37.5% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    75% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    87.5% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
}

.colored_w{
  background-color: #ffffff;
  color: #000000;
  width: 40px;
  height: 25px;
  font-size: 10px;
  top:15px;
}