/*===============================================

　サーチ

================================================*/
.search_user{
    width: 100%;
    height: 30px;
    position: fixed;
    top:30px;
    z-index: 2;
    left: 0;
    background-color: #ffffff;
}

/*検索の打ち込みの部分*/
#r{
    margin-top: 5px;
    position: relative;
    border: none;
    width: 85%;
    font-size: 14px;
    left: 20px;   color: #696969;
    outline: none;
}


.search{
    float: right;
    height: auto;
    width: auto;
    top: 3px;
    color: #696969;
}
/*=========================================

　ナビ

===========================================*/

.nav{
    width: 100%;
    height: 27px;
    position: fixed;
    top:60px;
    z-index:1 ;
    left: 0;
    background-color: #ffffff;
}

.nav h4{
    font-size: 15px;
}


/*==========================================

　コンテンツ

============================================*/
#contents{
    width: 95%;
    height: auto;
    padding-top: 97px;
    padding-bottom: 55px;
    margin: 0 auto;
}

.error{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color:#eeeeef;
}
