@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #57b3ad;
}

/*=======================================================

ヘッダー

=======================================================*/
.header{
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 3;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.header h1{
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}

.nav{
    width: 100%;
    height: 27px;
    position: fixed;
    top:30px;
    z-index: 2;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px -1px #a0a0a0;
}

.back{
    cursor:pointer;
    float: left;
    margin-left: 5px;
    height: auto;
    width: auto;
    top: 3px;
    color: #000000;
}

/*設定ボタン*/
.set{
    cursor:pointer;
    float: right;
    margin-right: 5px;
    height: auto;
    width: auto;
    top: 3px;
    color: #000000;
}

/*=======================================================

ナビゲーション

=======================================================*/

#nav{
    width: 100%;
    height: 27px;
    position: fixed;
    top:30px;
    z-index: 1;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px -1px #a0a0a0;
}

/*=======================================================

ホーム画面のタイムライン(画面最下部、メッセージ送信)

=======================================================*/
.timeline{
    cursor:pointer;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 2px;
    z-index: 3;
}

.timeline img{
    margin-right: 5px;
    height: 45px;
    vertical-align: top;
    float: left;
    border-radius: 50%;
}

.timeline p{
    margin-left: 45px;
    margin-right: 55px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    color: #696969;
}
.timeline h4{
    display: inline;
    font-size: 15px;
    color: #676767;
}

.timeline h6{
    display: inline;
    font-size: 12px;
    color: #696969;
}

.timeline a{
    text-decoration: none;
}

.star{
    cursor:pointer;
    float: right;
    position: relative;
    bottom: 20px;
    margin-right: 10px;
}

.star img{
    height: 20px;
    margin: 0 auto;
}

.ins{
    float: right;
    position: relative;
    bottom: 35px;
    margin-right: 10px;
}

.ins img{
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

ul.accordion {
    list-style-type:none;
    font-size:16px;
}

ul.accordion span {
    display:block;
    padding:10px;
}

ul.accordion ul {
    display:none;
    height: 50px;/*アコーディオン部分の高さ*/
}

paper-slider{
    position: absolute;
    margin-left: 20px;
    width: 60%;
    color:#F8B62D;
}
@media screen and (max-device-width: 480px) {
/*スマホの時のみ*/
paper-icon-button{
    margin-top: -7px;
}
}

.scrubber{
    cursor:pointer;
    display: none;
    height:10px;
    text-align:left;
    padding-left:20px;
}

.scrubber img{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 5px;
}

.del{
    cursor:pointer;
    display: none;
    position: absolute;
    text-align: right;
    right: 15px;
    margin-top: -5px;
}

/*=======================================================

メイン(ヘッダー、フッター以外の部分)

=======================================================*/
#main{
    height: 100%;
}
/*=======================================================

メッセージ(会話一覧)

=======================================================*/
.inform{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 2px;
}

.inform p{
    margin-left: 70px;
    padding-top: 7.5px;padding-bottom: 7.5px;
    font-size: 20px;
    color: #6e6e6e;
}

.user{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 2px;
    position: relative;
}
.user a{
    text-decoration: none;
}

.user p{
    margin-left: 70px;
    padding-top: 7.5px;padding-bottom: 7.5px;
    font-size: 20px;
    color: #6e6e6e;
}
.user .noRead{
    display: none;
    position:absolute;
    left: 85%;
    min-width: 20px;
    height: 20px;
    padding:2px;
    font-size:15px;
    border-radius: 15px;
    text-align:center;
    color:#ffffff;
    background: #F26964;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.user img{
    padding: 7.5px;
    width: 35px;
    height: 35px;
    float: left;
}

/*=======================================================

メッセージ(チャット)

=======================================================*/
/*メッセージ部分全体*/
#chat_space{
    height: 100%;
    height: auto;
    padding-top:80xpx;
    padding-bottom: 25px;
}

/*吹き出し部分全体*/
div.balloon {
    width: 100%;
    padding-top: 50px;
}
/* 吹き出し左 */
div.balloon-left-body {
    float: left;
    position: relative;
    max-width: 70%;
    min-width: 10%;
    margin: 0 0 0 -5px;
    padding: 13px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
}
div.balloon-left-body p {
    font-size: 10pt;
}
div.balloon-left-foot-outer {
    float: left;
    position: relative;
    margin: 22px 0 0 4px;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}
div.balloon-left-foot-inner {
    position: relative;
    margin: -7px;
}

/* 吹き出し右 */
div.balloon-right-body {
    float: right;
    position: relative;
    max-width: 70%;
    min-width: 10%;
    margin: 0 -5px 0 0;
    padding: 13px;
    border-radius: 10px;
    background-color: #ffecaa;
    text-align: left;
}
div.balloon-right-body p {
    font-size: 10pt;
}
div.balloon-right-foot-outer {
    float: right;
    position: relative;
    margin: 22px 4px 0 0;
    border-top: 10px solid #ffecaa;
    border-right: 10px solid #ffecaa;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
div.balloon-right-foot-inner {
    position: relative;
    margin: -7px;
}

/* float の解除 */
.clear-float {
    clear: both;
}

/*フッター全体*/
#chat_footer{
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #eaeaea;
}

/*テキストエリア、送信ボタンを統一させる form*/
#chat_footer form{
    width: 95%;
    margin: 0 auto;
}

/*テキストエリア*/
#chat_footer textarea{
    float: left;
    width: 75%;
    padding: 5px;
    height: 15px;
    margin: 5px;
    border: 1px solid #d0d0d0;
    resize:none;
    border:none;
    overflow: hidden;
    outline: none;
}

/*送信ボタン*/
#chat_footer [type='submit']{
    cursor:pointer;
    border:none;
    float: left;
    width: 15%;
    margin: 5px;
    position: absolute;
    bottom: 0;
    border:none;
    padding: 5px;
    background-color: #57b3ad;
    color: #ffffff;
    outline: 0;
}

/*送信ボタンにマウスが重なった時*/
#chat_footer [type='submit']:hover{
    background-color: #46a29c;
}

/*送信ボタンが押された時*/
#chat_footer [type='submit']:active{
    background-color: #35918b;
}

/*最下部の高さを調節*/
#end{
    clear: both;
    width: 100%;
    height: 50px;
}

#message_nav{
    width: 100%;
    height: 27px;
    position: absolute;
    top:230px;
    z-index: 1;
    left: 0;
    background-color: #ffffff;
}

#message_nav.fixed {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index:1;
}


#blank1{
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #57b3ad;
}

/*フッター上の少し緑が残るところ*/
#blank2{
    width: 100%;
    height: 10px;
    position: fixed;
    bottom: 48px;
    left: 0;
    z-index: 1;
    background-color: #57b3ad;
}

/*=================================================

フッター

=================================================*/
.footer{
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #ffffff;
    border-top: 1px solid #f0f0f0;
}

.footer img{
    width: 40px;
    height: auto;
    padding-top: 4px;
}

.footer ul{
    text-align: center;
}

.footer li{
    cursor:pointer;
    list-style-type: none;
    width: 20%;
    float: left;
}

.footer a{
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
}

#music_icon img{
    position: fixed;
    left: 50%;
    margin-left: -35px;
    bottom: -10px;
    width: 65px;
    z-index: 3;
    border-radius: 50%;
}
/*未読のメッセージ数*/
#MyBadge {
    display: none;
    position:absolute;
    left: 70%;
    min-width: 20px;
    height: 20px;
    padding:2px;
    font-size:15px;
    border-radius: 15px;
    text-align:center;
    color:#ffffff;
    background: #F26964;
    z-index: 2;
}

.userList{
    cursor:pointer;
    width: 100%;
    height: auto;
    position:relative;
    background-color: #ffffff;
    margin-bottom: 2px;
    padding: 30px 0 30px 0;
}

.userList a{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.userList img{
    height: 35px;
    margin-left: 10px;
    padding-top: 5px;
    border-radius: 50%;
}
.userList h4{
    font-size: 15px;
    position: absolute;
    color: #696969;
    padding-top: 5px;
    display: inline;
}
.userList h6{
    font-size: 12px;
    color: #696969;
    display: inline;
}

.colored_red{
    background-color: #dd6a5f;
    color: #ffffff;
    width: 12%;
    height: 30px;
    font-size: 12px;
}

.addBtn{
    cursor:pointer;
    display: none;
    position: absolute;
    margin-left: 72%;
}

.toastAdd{
    background-color: #dd6a5f;
    color: #fff;
    height: 55px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}

.toastFav{
    background-color: #f5a22d;
    color: #fff;
    height: 55px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}

.toastDelete{
    background-color: #e6e6e6;
    color: #696969;
    height: 55px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}