.header h1 { padding-right: 30px;}

/*戻るボタン*/
.back{
    float: left;
    margin-left: 5px;
    height: auto;
    width: auto;
    top: 3px;
    color: #000000;
}

#contents{
    left: 0;
    width: 95%;
    padding-top: 70px;
    padding-bottom: 57px;
    margin: 0 auto;
}

.reading{
    width:100%;
    height:auto;
    background-color:#ffffff;
    overflow:auto;
}
.reading h4{
    color: #595757;
}

.reading p{
    color: #595757;
}

#yes{
    position: relative;
    top:30px;
    text-align: center;
}

.colored_white{
    background-color: #ffffff;
    color: #595757;
    width: 32%;
    height: 35px;
    font-size: 14px;
    padding-bottom: 30px;
}
